<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!-- 이 줄 추가 -->

<head th:insert="~{common :: commonHead}">
    <title>Product Manager</title>
</head>

<body>
<div class="container">
    <h1 class="mt-5">상품 목록</h1>

    <!-- 관리자만 새 상품 생성 버튼 보이게 -->
    <div sec:authorize="hasRole('ADMIN')">
        <a class="btn btn-primary mb-3" th:href="@{/products/new}">새 상품 추가</a>
    </div>

    <div sec:authorize="hasRole('ADMIN')" class="mb-3">
        <a class="btn btn-secondary" th:href="@{/admin/users}">전체 사용자 목록 보기</a>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Made In</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.id}">Product ID</td>
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.brand}">Brand</td>
            <td th:text="${product.madeIn}">Made in</td>
            <td th:text="${product.price}">Price</td>
            <td>
                <!-- 관리자만 Edit/Delete 버튼 보이게 -->
                <div sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-primary btn-sm" th:href="@{'/products/edit/' + ${product.id}}">편집</a>
                    <a class="btn btn-danger btn-sm" th:href="@{'/products/delete/' + ${product.id}}">삭제</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS fragment 삽입 -->
<div th:insert="~{common :: commonScript}"></div>
</body>
</html>
